* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  background-color: #111;
}

/* PAGE CENTER */
.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

/* CARD */
.signup-container {
  width: 100%;
  max-width: 1200px;
  height: 720px;
  display: flex;
  background: #ffffff;
  border-radius: 16px;
  overflow: hidden;
}

/* LEFT */
.signup-left {
  width: 50%;
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.brand {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 32px;
  color: #111;
}

.signup-left h1 {
  font-size: 34px;
  margin-bottom: 12px;
  color: black;
}

.subtitle {
  color: #6b7280;
  font-size: 15px;
  margin-bottom: 32px;
  max-width: 420px;
}

/* GOOGLE BUTTON */
.google-btn {
  width: 100%;
  padding: 14px;
  border-radius: 999px;
  border: 1px solid #e5e7eb;
  background: #ffffff;
  font-weight: 500;
  cursor: pointer;
}

.google-btn:hover {
  background: #f9fafb;
}

/* DIVIDER */
.divider {
  text-align: center;
  margin: 28px 0;
  font-size: 14px;
  color: #9ca3af;
}

/* FORM */
.signup-form label {
  font-size: 14px;
  margin-bottom: 6px;
  display: block;
  color: #111;
}

.signup-form input {
  width: 100%;
  padding: 14px 18px;
  margin-bottom: 18px;
  border-radius: 999px;
  border: 1px solid black;
  font-size: 14px;
  outline: none;
  background: hsl(0, 6%, 10%);
}

.signup-form input::placeholder {
  color: whitesmoke;
}

.signup-form input:focus {
  border-color: #ef4444;
}

/* CREATE BUTTON */
.create-btn {
  width: 100%;
  padding: 15px;
  border-radius: 999px;
  border: none;
  background-color: #ef4444;
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
  margin-top: 8px;
}

.create-btn:hover {
  background-color: #dc2626;
}

/* TEXT */
.terms {
  font-size: 13px;
  color: #6b7280;
  margin-top: 18px;
}

.terms span,
.login-link span {
  color: #ef4444;
  cursor: pointer;
}

.login-link {
  font-size: 14px;
  margin-top: 14px;
}

/* RIGHT */
.signup-right {
  width: 50%;
  background: #f9fafb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px;
}

.signup-right img {
  width: 200%;
  max-width: 580px;
  border-radius: 10px;
  object-fit: cover;
}
