/* /* Make sure html & body take full height */
html,
body {
  height: 100%;
  margin: 0;
}

/* Root element from React */
#root {
  height: 100%;
}

/* Center container */
.fp-container {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  z-index: 9999;
}


/* Card */
.fp-card {
  background: #fff;
  padding: 35px;
  width: 420px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.fp-icon {
  width: 50px;
  height: 50px;
  background: #ffe5e5;
  border-radius: 50%;
  margin: 0 auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.fp-sub {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.fp-card label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: 500;
}

.fp-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 18px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.fp-card button {
  width: 100%;
  padding: 10px;
  background: #e60000;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.fp-card button:disabled {
  background: #aaa;
}

.fp-back {
  margin-top: 15px;
  color: #e60000;
  cursor: pointer;
  font-size: 14px;
}
